<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409251244248-92iuhtlduqisu0dopdhe9likb0da464j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409251244248-92iuhtlduqisu0dopdhe9likb0da464j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409251244248-2isnvjqq93nne98vo1rrhlrn50h2fbrn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDb-4JFoXl31wy769fATXH6biFDml-vHE</string>
	<key>GCM_SENDER_ID</key>
	<string>409251244248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcushoutzager.Cessabit</string>
	<key>PROJECT_ID</key>
	<string>zagermonitoringfb</string>
	<key>STORAGE_BUCKET</key>
	<string>zagermonitoringfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409251244248:ios:573b0b4ad7d7e631154fad</string>
	<key>DATABASE_URL</key>
	<string>https://zagermonitoringfb.firebaseio.com</string>
</dict>
</plist>